In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import gmean
from pandas import DataFrame

In [3]:
df_results = pd.read_pickle("UsableData/Results.pkl")
df_returns = pd.read_pickle("UsableData/Returns.pkl").T
df_results

           Market Cap Employees Book Value     Equal     Random  Variance
1995-12-31          1         1          1         1          1         1
1996-01-31   1.055732  1.037344   1.027627   1.00793   1.007622  0.975108
1996-02-29    1.06463  1.050292   1.042715  1.027357   1.027117  1.001764
1996-03-31   1.036932  1.029997   1.026332  1.018903   1.018787  1.006524
1996-04-30   1.043941  1.036461   1.032508  1.024496   1.024371  1.011145
...               ...       ...        ...       ...        ...       ...
2021-08-31   6.583841  9.337719   7.591342  9.929669  10.303173  2.570162
2021-09-30   6.363336  9.025859     7.4682  9.780987  10.177834  2.568736
2021-10-31    6.45742  9.135159   7.642543  9.888591  10.256893   2.52851
2021-11-30   6.240315  8.609329   7.267196  9.593338   9.944711  2.433457
2021-12-31   6.498475  9.020911   7.631479   9.80385  10.115102   2.45342

[313 rows x 6 columns]

In [4]:
total_return = ((1+df_returns/100).prod()-1)*100
#monthly
monthly_mean = np.mean(df_returns)
#yearly
yearly_mean = monthly_mean*12

In [6]:
df_returns_stg=pd.read_pickle("UsableData/Results.pkl")
for j in range(0,df_results.shape[1]):
    for i in range(1,df_results.shape[0]):
           df_returns_stg.iloc[i,j]=df_results.iloc[i, j]-df_results.iloc[i-1,j]
           df_returns_stg.iloc[0,j]=0
df_returns_stg

           Market Cap Employees Book Value     Equal    Random  Variance
1995-12-31          0         0          0         0         0         0
1996-01-31   0.055732  0.037344   0.027627   0.00793  0.007622 -0.024892
1996-02-29   0.008898  0.012948   0.015089  0.019427  0.019495  0.026656
1996-03-31  -0.027698 -0.020295  -0.016383 -0.008454  -0.00833   0.00476
1996-04-30   0.007009  0.006464   0.006177  0.005593  0.005584   0.00462
...               ...       ...        ...       ...       ...       ...
2021-08-31    0.14901  0.099578   0.020705  0.265175  0.302951  0.037486
2021-09-30  -0.220504 -0.311859  -0.123142 -0.148683 -0.125339 -0.001426
2021-10-31   0.094084  0.109299   0.174343  0.107604  0.079059 -0.040226
2021-11-30  -0.217105  -0.52583  -0.375346 -0.295253 -0.312182 -0.095053
2021-12-31    0.25816  0.411583   0.364283  0.210512  0.170391  0.019963

[313 rows x 6 columns]

In [83]:
#cumulative return in %
total_return=(df_returns_stg.sum(axis=0))  #MC 5.49
#total_return=df_results-1         

#monthly_mean = np.mean(df_returns_stg)
monthly_mean_stg=[]
yearly_mean_stg=[]
for i in range(0,df_results.shape[1]):
    monthly_mean_stg.append(np.mean(df_returns_stg[lambda df_returns_stg:df_returns_stg.columns[i]]))
yearly_mean_stg=[x*12 for x in monthly_mean_stg]
yearly_mean_stg

#yearly_total_return=total_return**(1/25)
yearly_mean_stg
df=pd.DataFrame(total_return,columns=['total return'])
df.insert(1,"monthly_mean", monthly_mean_stg,True)
df.insert(2,"yearly_mean", yearly_mean_stg,True)
df

           total return  monthly_mean  yearly_mean
Market Cap     5.498475      0.017567     0.210804
Employees      8.020911      0.025626     0.307511
Book Value     6.631479      0.021187     0.254242
Equal           8.80385      0.028127     0.337528
Random         9.115102      0.029122     0.349461
Variance        1.45342      0.004644     0.055722

In [8]:
# monthly volatility
monthly_vol = np.std(df_returns)
monthly_variance = monthly_vol**2

# yearly volatility
yearly_vol = monthly_vol*np.sqrt(12)
yearly_variance = yearly_vol ** 2

print('The yearly return volatility is '+str(round(yearly_vol,2)) +'%')

The yearly return volatility is RIC
BAYGn.DE                28.20
DTEGn.DE                29.65
MBGn.DE                 35.64
ALVG.DE                 31.48
SIEGn.DE                30.73
                        ...
TCP.SG^C16               0.00
DWH.VI^C20               7.82
SIGN.VI^H21             71.98
DE016013382=ISMA^D10      NaN
IGY.BN^F20                NaN
Length: 1720, dtype: float64%

In [84]:
# monthly volatility
monthly_vol = np.std(df_results)
monthly_variance = monthly_vol**2

# yearly volatility
yearly_vol = monthly_vol*np.sqrt(12)
yearly_variance = yearly_vol ** 2
yearly_variance

df.insert(3,"monthly_volatility", monthly_vol,True)
df.insert(4,"yearly_volatility", yearly_vol,True)
df

,total return,monthly_mean,yearly_mean,monthly_volatility,yearly_volatility
Market Cap,5.498475,0.017567,0.210804,1.434439,4.969044
Employees,8.020911,0.025626,0.307511,2.273725,7.876413
Book Value,6.631479,0.021187,0.254242,1.726658,5.98132
Equal,8.80385,0.028127,0.337528,2.093597,7.252431
Random,9.115102,0.029122,0.349461,2.159547,7.480892
Variance,1.45342,0.004644,0.055722,0.475297,1.646478

In [85]:
#we don't have data for risk_free_rate ->average_rf=0

#your_array=df_results.values
#your_array = your_array.astype(float)
#gmean(your_array)

sharpe_ratio = (yearly_mean)/yearly_vol
sharpe_ratio
df.insert(5,"sharpe_ratio", sharpe_ratio,True)
df

,total return,monthly_mean,yearly_mean,monthly_volatility,yearly_volatility,sharpe_ratio
Market Cap,5.498475,0.017567,0.210804,1.434439,4.969044,1.494904
Employees,8.020911,0.025626,0.307511,2.273725,7.876413,0.9431
Book Value,6.631479,0.021187,0.254242,1.726658,5.98132,1.241907
Equal,8.80385,0.028127,0.337528,2.093597,7.252431,1.024242
Random,9.115102,0.029122,0.349461,2.159547,7.480892,0.992962
Variance,1.45342,0.004644,0.055722,0.475297,1.646478,4.511596

In [86]:
# maximum monthly drawdown
max_monthly_drawdown=[]
for i in range(0, df_results.shape[1]):
    max_monthly_drawdown.append(min(df_results[lambda df_results:df_results.columns[i]]))
max_monthly_drawdown
df.insert(6,"monthly_drawdown", max_monthly_drawdown,True)
df

,total return,monthly_mean,yearly_mean,monthly_volatility,yearly_volatility,sharpe_ratio,monthly_drawdown
Market Cap,5.498475,0.017567,0.210804,1.434439,4.969044,1.494904,0.914735
Employees,8.020911,0.025626,0.307511,2.273725,7.876413,0.9431,1.000000
Book Value,6.631479,0.021187,0.254242,1.726658,5.98132,1.241907,1.000000
Equal,8.80385,0.028127,0.337528,2.093597,7.252431,1.024242,0.906817
Random,9.115102,0.029122,0.349461,2.159547,7.480892,0.992962,0.938031
Variance,1.45342,0.004644,0.055722,0.475297,1.646478,4.511596,0.680122

In [87]:
# calculate the share of days with positive returns
a=0
pos_return=[]
for j in range(0,df_returns_stg.shape[1]):
    for i in range(0,df_returns_stg.shape[0]):
        if (df_returns_stg.iloc[i,j]>=0):
            a=a+df_returns_stg.iloc[i,j]
    pos_return.append(a)
    a=0    
           
pos_return
df.insert(7,"positiv_returns", pos_return,True)
df

,total return,monthly_mean,yearly_mean,monthly_volatility,yearly_volatility,sharpe_ratio,monthly_drawdown,positiv_returns
Market Cap,5.498475,0.017567,0.210804,1.434439,4.969044,1.494904,0.914735,20.139131
Employees,8.020911,0.025626,0.307511,2.273725,7.876413,0.9431,1.000000,30.390815
Book Value,6.631479,0.021187,0.254242,1.726658,5.98132,1.241907,1.000000,26.132237
Equal,8.80385,0.028127,0.337528,2.093597,7.252431,1.024242,0.906817,21.047218
Random,9.115102,0.029122,0.349461,2.159547,7.480892,0.992962,0.938031,21.632509
Variance,1.45342,0.004644,0.055722,0.475297,1.646478,4.511596,0.680122,8.269855