In [11]:
import pandas as pd
import numpy as np

In [12]:
df_market_cap = pd.read_pickle("UsableData/MarketCap.pkl")
df_employees = pd.read_pickle("UsableData/Employees.pkl")
df_book_value = pd.read_pickle("UsableData/BookValue.pkl")
df_returns = pd.read_pickle("UsableData/Returns.pkl").T
df_eligible = pd.read_pickle("UsableData/EligibleStocks.pkl")

In [13]:
strategies = {"Market Cap": [df_market_cap, False], "Employees": [df_employees, True], "Book Value": [df_book_value, True]} # [DATAFRAME, SMALLER_IS_BETTER] e. g. for market cap bigger values mean better mean bigger weight -> False, reversed for variance -> smaller better -> True

In [14]:
# When only running one specific strategy
# STRATEGY = "Book Value" # Select Strategy
# df = strategies[STRATEGY][0]

# from pandas import DataFrame
# years = df_eligible.columns.to_list()
# years.insert(0, years[0]-1)
# try:
#     df_results = pd.read_pickle("UsableData/Results.pkl")
# except FileNotFoundError:
#     df_results = DataFrame(index=years, columns=strategies.keys())


# cash = 1
# df_results.at[years[0], STRATEGY] = cash
# for year in years[1:]:
#     # Calculate weights
#     eligible_stocks = df_eligible[df_eligible[year] == True][year].index.values
#     weight = df.loc[eligible_stocks, year-1]
#     # print(f"{year}: {np.round(cash, 2)}€")
#     if strategies[STRATEGY][1]: # True if smaller value should have greater weight
#         weight = 1/weight # Reverse
#         weight = weight/weight.sum() # Calculate percentual weight
#     else: # Greater value results in greater weight
#         weight = weight/weight.sum()
#     # Go through month and multiply returns
#     total_cash_gained = 0
#     for ric in eligible_stocks:
#         returns = df_returns[ric][(df_returns.index >= f"{year}-01-01") & (df_returns.index <= f"{year}-12-31")]
#         yearly_return = (np.prod(returns/100 + 1)-1)*100
#         monetary_change = cash*weight[ric]*yearly_return/100
#         # print(f"    {ric} - Weight: {np.round(weight[ric]* 100, 2)} % - Return: {np.round((yearly_change-1)*100, 2)} % - Gain: {np.round(absolute_return, 2)}")
#         total_cash_gained += monetary_change
#     cash += total_cash_gained
#     df_results.at[year, STRATEGY] = cash
# df_results.to_pickle("UsableData/Results.pkl")

In [15]:
# Test Data to validate simulation
# from pandas import DataFrame

# i = ["A", "B", "C"]
# data = {2000: [True, True, True], 2001: [True, True, True], 2002: [True, True, True], 2003: [True, True, True]}
# df_eligible = DataFrame(data=data, index = i)
# times = pd.date_range('2000-01-31', periods=48, freq='M')
# df_returns = DataFrame(data = 1, index=times, columns=i)
# data = {1999: [1, 1, 1], 2000: [1, 1, 1], 2001: [1, 1, 1], 2002: [1, 1, 1]}
# df = DataFrame(data=data, index = i)

In [16]:
# When running all strategies
from pandas import DataFrame
years = df_eligible.columns.to_list()
years.insert(0, years[0]-1)
df_results = DataFrame(index=years, columns=strategies.keys())

for strategy in strategies.keys():
    df = strategies[strategy][0]
    cash = 1
    df_results.at[years[0], strategy] = cash
    for year in years[1:]:
        # Calculate weights
        eligible_stocks = df_eligible[df_eligible[year] == True][year].index.values
        weight = df.loc[eligible_stocks, year-1]
        # print(f"{year}: {np.round(cash, 2)}€")
        if strategies[strategy][1]: # True if smaller value should have greater weight
            weight = 1/weight # Reverse
            weight = weight/weight.sum() # Calculate percentual weight
        else: # Greater value results in greater weight
            weight = weight/weight.sum()
        # Go through month and multiply returns
        total_cash_gained = 0
        for ric in eligible_stocks:
            returns = df_returns[ric][(df_returns.index >= f"{year}-01-01") & (df_returns.index <= f"{year}-12-31")]
            yearly_return = (np.prod(returns/100 + 1)-1)*100
            monetary_change = cash*weight[ric]*yearly_return/100
            # print(f"    {ric} - Weight: {np.round(weight[ric]* 100, 2)} % - Return: {np.round((yearly_change-1)*100, 2)} % - Gain: {np.round(absolute_return, 2)}")
            total_cash_gained += monetary_change
        cash += total_cash_gained
        df_results.at[year, strategy] = cash
df_results.to_pickle("UsableData/Results.pkl")

In [17]:
df_results

     Market Cap   Employees  Book Value
1995          1           1           1
1996   3.109603     2.69941    1.921544
1997  13.760491   18.209561   14.374926
1998   18.87917   31.247619     17.6609
1999  26.845672   40.587814   13.210099
2000  24.009265   32.664532    5.924438
2001  19.946862   21.948794    4.237977
2002  12.009036   10.215702    1.493497
2003  16.191104   14.865468    1.985602
2004  17.761555   16.158341    3.194507
2005  22.520028   22.891986  154.866918
2006  27.835159   28.332254   98.833024
2007  33.462073   27.803492  105.807319
2008  18.713247    22.12341   83.152221
2009  24.814001   23.833764   97.107489
2010  29.785729   54.657988  168.626562
2011  25.824241    55.45467  141.776679
2012  33.307235   59.272231  130.748142
2013  43.293555   61.556686   44.953627
2014  44.557388   70.524925   26.605475
2015  49.910946  119.794161   46.056562
2016  52.475572  130.269155  103.644453
2017  61.326092  173.336405  181.571302
2018  50.076428  146.714474  148.809367
2019  62.187946  164.384268  184.150268
2020  65.080334  184.287331  200.430978
2021  75.624661  265.003132  295.399904