In [7]:
import pandas as pd
import numpy as np
data = pd.read_csv('FirmData.csv')
data

,RIC,Date,Total Equity,Company Market Cap,Revenue,Full-Time Employees,"Cash Dividend Paid, Common, Discrete"
0,BAYGn.DE,31/12/1995,8488.469784,NaN,22200.29864,148248,382.4463271
1,BAYGn.DE,31/12/1996,9109.178272,23034.05554,22793.39736,142900,463.7417362
2,BAYGn.DE,31/12/1997,10532.10391,24409.89006,24852.88154,142200,543.5032697
3,BAYGn.DE,31/12/1998,12008.20391,26146.11494,28123.61646,144600,634.0019327
4,BAYGn.DE,31/12/1999,12566.53478,34399.10820,23351.72822,145100,364.0398194
...,...,...,...,...,...,...,...
33300,IGY.BN^F20,31/12/2017,8931,NaN,41549,40636,979
33301,IGY.BN^F20,31/12/2018,9439,NaN,41119,42393,1328
33302,IGY.BN^F20,31/12/2019,7900,NaN,33273,37374,1186
33303,IGY.BN^F20,31/12/2020,7426,NaN,33535,34523,907
33304,IGY.BN^F20,31/12/2021,7426,NaN,33535,34523,907

In [6]:
nan_count = data["Company Market Cap"].isna().sum()

# Print the result
print("Number of NaN values in Company Market Cap column:", nan_count)

Number of NaN values in Company Market Cap column: 8571

In [8]:
nan_count = data["RIC"].isna().sum()

# Print the result
print("Number of NaN values in RIC column:", nan_count)

Number of NaN values in RIC column: 0

In [10]:
nan_count = data["Cash Dividend Paid, Common, Discrete"].isna().sum()

# Print the result
print("Number of NaN values in Cash Dividend Paid, Common, Discrete column:", nan_count)

Number of NaN values in Cash Dividend Paid, Common, Discrete column: 21360